.dashboard{
    position: fixed;
    display: flex;
    flex-direction: row;
    background-color: black;
    height: 100vh;
    width: 100vw;
}
.sidebarWrapper{
    width: 30%;
    height: 100%;
}
.viewportWrapper{
    width: auto;
    height: 100%;
}