#viewportContainer{
    display: grid;
    grid-template-rows: 1fr auto;
    background-color: white;
    height: 100%;
}
#messagesContainer{
    max-height: 500px;
    min-height: 200px;
    overflow-y: scroll;
    padding: 20px;
}
#input-section{
    border-top: solid 2px rgb(117, 118, 117);
    display: flex;
    padding: 20px 50px;
}
#message{
    max-width: 500px;
    width: 70%;
    background-color: gray;
    padding: 10px;
}